<!-- 水墨画线条 SVG 组件 -->
<svg class="ink-lines" xmlns="http://www.w3.org/2000/svg">
    <!-- 飘逸的曲线 -->
    <path class="ink-line" d="M 50 100 Q 200 80, 350 120 T 650 100" stroke-dasharray="5,10" />
    <path class="ink-line thin" d="M 100 200 Q 300 180, 500 220 T 900 200" stroke-dasharray="3,8" />
    <path class="ink-line" d="M 0 300 Q 150 280, 300 310 Q 450 340, 600 300" stroke-dasharray="5,10" />
    <path class="ink-line thick" d="M 200 400 Q 400 370, 600 420 T 1000 400" stroke-dasharray="8,12" />
    <path class="ink-line thin" d="M 50 500 Q 250 480, 450 510 Q 650 540, 850 500" stroke-dasharray="3,8" />
    <path class="ink-line" d="M 150 600 Q 350 570, 550 610 T 950 600" stroke-dasharray="5,10" />

    <!-- 竖向飘逸线条 -->
    <path class="ink-line thin" d="M 150 0 Q 130 200, 170 400 T 150 800" stroke-dasharray="3,8" />
    <path class="ink-line" d="M 400 0 Q 380 150, 420 300 Q 400 450, 420 600" stroke-dasharray="5,10" />
    <path class="ink-line thin" d="M 700 0 Q 680 180, 720 360 T 700 720" stroke-dasharray="3,8" />
    <path class="ink-line" d="M 950 0 Q 930 220, 970 440 T 950 880" stroke-dasharray="5,10" />

    <!-- 斜向飘逸线条 -->
    <path class="ink-line thin" d="M 0 50 Q 200 150, 400 100 Q 600 50, 800 150" stroke-dasharray="3,8" />
    <path class="ink-line" d="M 100 0 Q 250 200, 400 150 Q 550 100, 700 250" stroke-dasharray="5,10" />
    <path class="ink-line thin" d="M 300 600 Q 450 500, 600 550 Q 750 600, 900 500" stroke-dasharray="3,8" />
</svg>
